/*
 * Some best-practice CSS that's useful for most apps
 * Just remove them if they're not what you want
*/

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* App custum styles */
video {
  margin-top : 10px;
  width: 200px;
}

img {
  width: 200px;
  height: 200px;
}

div.camera {
  width: 200px ;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin: 5px;
}
